/* Left panel */
.left-panel {
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: var(--black);
  z-index: 300;
  padding: 10px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}

.left-button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: var(--color);
  color: var(--white);
  padding: 5px;
  border: none;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.left-button-disable {
  background-color: var(--color-4down);
  color: var(--white-2down);
}
.left-button-disable:hover {
  background-color: var(--color-2down);
  color: var(--white);
}

.left-button:hover {
  background-color: var(--color-2up);
}

.left-bottom-button {
  position: absolute;
  bottom: 30px;
}

/* Filter */
.filter-panel {
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: var(--black);
  z-index: 300;
  padding: 10px;
  left: 60px;
  border-left: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* Map */
.map-container {
  width: 100vw;
  height: 100vh;
  cursor: grab;
}
.map-container:active {
  cursor: grabbing;
}
.map-controll {
  position: absolute;
  will-change: transform;
}
.tiles-container {
  position: absolute;
  z-index: 100;
}
.point-container {
  position: absolute;
  z-index: 200;
}
.tile {
  position: absolute;
  background-size: cover;
  image-rendering: crisp-edges;
  pointer-events: none;
}
.point {
  position: absolute;
  will-change: transform;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
  color: var(--white);
  transition: 0.5s;
}
.point:hover {
  background-color: var(--black-2up);
}
.point-icon {
  box-sizing: border-box;
  height: 29px;
  width: 15px;
  padding: 5px;
}
.point-label {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  white-space: nowrap;
}