@import "./object-info.css";
@import "./home-page.css";
@import "./default-map.css";

/* Main */
:root {
  --white: #f5e9dd;
  --white-2down: #c4bab0;

  --black: #494949;
  --black-2up: #6d6d6d;
  
  --color: #e85d56;
  --color-2up: #ec7d77;
  --color-2down: #b94a44;
  --color-4down: #8b3733;
}
body {
  padding: 0px;
  margin: 0px;

  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-size: 16px;

  background-color: var(--white);
}
#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}