/* Panel */
.panel-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: flex;
  justify-content: center;
  background-color: var(--black-fade);
}
.panel-close {
  position: absolute;
  width: 100%;
  height: 100%;
}
.info-panel {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
  z-index: 501;
  padding-bottom: 10px;
  scrollbar-color: var(--black-2up) var(--white-2down);
}
@media (max-width: 1100px) {
  .info-panel {
    padding-bottom: 70px;
  }
}
.info-panel-title {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  margin-bottom: 10px;
}
.info-description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info-column {
  display: flex;
  flex-direction: column;
}
.info-column-row-gap {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info-controller {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 10px;
    left: calc(50% + 510px);
    column-gap: 10px;
    box-sizing: border-box;
    z-index: 501;
}
@media (max-width: 1100px) {
  .info-controller {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: var(--black);
    z-index: 502;
    justify-content: flex-start;
    padding: 10px;
    top: auto;
    border-top: 1px solid var(--white);
  }
}
.info-controller-close {
  display: none;
}
@media (max-width: 1100px) {
  .info-controller-close {
    display: block;
  }
}
.info-controller-button {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  color: var(--white);
  background-color: var(--color);
}
@media (max-width: 1100px) {
  .info-controller-button {
    width: auto;
    height: auto;
    flex: 1 1 50%;
  }
}
.info-controller-button:hover {
    background-color: var(--color-2up);
}

/* Block title */
.info-container-title {
  border: 2px solid var(--black);
  border-left: none;
  border-right: none;
  margin-bottom: 10px;
  display: block;
  font-size: 24px;
  font-weight: 600;
  padding: 5px 0px 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}
.info-container-title:hover {
  background-color: var(--white-2down);
}
@media (max-width: 1100px) {
  .info-container-title:hover {
    background-color: var(--white);
  }
}


/* Text */
.dt-text  {
  color: var(--black);
  margin-bottom: 1em;
  padding: 0px 10px 0px 10px;
  line-height: 1.3;
}

/* Image */
.dt-image {
  padding: 5px;
  width: calc(100% - 10px);
  height: auto;
}

/* Small icon */
.dt-small-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 0px 10px 0px 10px;
}
.dt-small-icon {
  height: 256px;
  width: 475px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: var(--black);
  transition: 0.5s;
}
@media (max-width: 1100px) {
  .dt-small-icon {
    height: 128px;
    width: 100%;
  }
}
.dt-small-icon:hover {
  background-color: var(--color);
}
.dt-small-icon-img {
  flex: 0 0 256px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
@media (max-width: 1100px) {
  .dt-small-icon-img {
    flex: 0 0 128px;
  }
}
.dt-small-icon-img img {
  width: 100%;
  height: 100%;
}
.dt-small-icon-info {
  flex: 1 1 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  color: var(--white);
  padding: 10px 0px 10px 10px;
  row-gap: 5px;
}
.dt-small-icon-info-title {
  border-bottom: 1px solid var(--white);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.sub-text {
  font-size: 14px;
}
.dt-small-icon-tag {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 10px);
  text-align: center;
  border: 2px solid var(--white);
  box-sizing: border-box;
  padding: 5px 0px 5px 0px;
}
@media (max-width: 1100px) {
  .dt-small-icon-tag {
    border: 1px solid var(--white);
    padding: 0px;
  }
}
.dt-small-icon-info label {
  cursor: pointer;
}
.dt-character-death-img {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Character */
.dt-character-img {
  float: left; 
  margin: 0 10px 0px 10px;
  height: auto;
  width: 50%;
}
@media (max-width: 1100px) {
  .dt-character-img {
    width: calc(100% - 20px);
    margin: 0 10px 10px 10px;
  }
}
.dt-character-text {
  display: block;
  margin-bottom: 1em;
  padding: 0px 10px 0px 10px;
  line-height: 1.3;
}

/* Stats */
.dt-stats-table-container {
  display: grid;
  width: 100%;
  padding: 0px 10px 0px 10px;
}
@media (max-width: 1100px) {
  .dt-stats-table-container {
    width: calc(100% - 20px);
    font-size: 14px;
  }
}
.dt-stats-table {
  border: 2px solid var(--black);
  border-collapse: collapse;
  table-layout: fixed;
  max-width: 600px;
  width: 100%;
}
.dt-stats-table th {
  background-color: var(--color);
  color: var(--white);
}
.dt-stats-table th, td {
  border-right: 2px solid var(--black);
  padding: 3px;
  text-align: center;
  width: 16.66%;
}

/* Skill */
.dt-skill-container {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
}
.dt-skill-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 3px;
}

/* Big image (Location) */
.dt-big-image-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0px 10px 0px 10px;
}
.dt-big-image-container {
  height: 240px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  transition: 0.5s;
}
@media (max-width: 1100px) {
  .dt-big-image-container {
    height: 190px;
  }
}
.dt-big-image-container:hover {
  background-color: var(--color);
}
.dt-big-image {
  flex: 1 1 100%;
  height: 100%;
  object-fit: none;
  object-position: center;
}
.dt-big-image-text {
  padding: 10px;
  flex: 0 0 20px;
  color: var(--white);
}
.dt-big-image-text > label {
  cursor: pointer;
}

/* Main info */
.dt-main-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 0px 10px 0px 10px;
}