.map-container {
  width: 100vw;
  height: 100vh;
  cursor: grab;
}
.map-container:active {
  cursor: grabbing;
}
.map-controll {
  position: absolute;
  will-change: transform;
}
.tiles-container {
  position: absolute;
  z-index: 100;
}
.point-container {
  position: absolute;
  z-index: 200;
}
.tile {
  position: absolute;
  background-size: cover;
  image-rendering: crisp-edges;
  pointer-events: none;
}
.point {
  position: absolute;
  will-change: transform;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #ffffffcc;
  border: 1px solid #000000cc;
  border-radius: 10px;
  padding: 5px;
}
.point > div {
  width: 16px;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;

  border: 3px solid #0000ff;
  /* background-color: #0000ff7f; */
}
.point > label {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  white-space: nowrap;
}
.panel-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;

  display: flex;
  justify-content: center;
  
  background-color: #000000bb;
}
.info-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;

  background-color: #ffffff;
  padding: 10px;
  padding-top: 50px;
  box-sizing: border-box;
}
@media only screen and (min-width: 1200px) {
    .info-panel {
        padding-top: 10px;
        max-width: 900px;
    }
}
.info-panel-title {
  font-size: 36px;
}
.info-description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info-container {
  margin-bottom: 10px;
}
.info-column {
  display: flex;
  flex-direction: column;
}
.info-container-title {
  font-size: 24px;
  margin-bottom: 10px;
  display: block;
}
.info-controller {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 0px;
    column-gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px #ffffff;
}
.info-controller button {
  flex: 1 1 50%;
  width: 100px;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.info-controller button:hover {
    background-color: #0000ff;
    color: #ffffff;
}
@media only screen and (min-width: 1200px) {
    .info-controller {
        position: absolute;
        left: calc(50% + 470px);
        width: auto;

        flex-direction: column;
        row-gap: 10px;

        background-color: transparent;
        box-shadow: none;
    }
    .info-controller button {
        margin-right: 0px;
    }
}
.additional-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  z-index: 300;
}
.additional-button img {
  width: 64px;
  height: 64px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
}
.dt-text  {
  text-indent: 1em;
}
.dt-small-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
}
.dt-small-icon {
  position: relative;
  height: 256px;
  cursor: pointer;
}
.dt-small-icon label {
  cursor: pointer;
  text-align: center;
}
.dt-small-icon > div {
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;

  background-color: #0000007c;
  color: #ffffff;
  
  height: 20%;
  width: 100%;
  bottom: 0px;

  transition: 0.5s;
}
.dt-small-icon:hover > div {
  height: 100%;
}
.dt-character-img {
  float: left; 
  margin: 0 10px 10px 0;
  width: 50%;
}
.dt-character-text {
  display: block;
  margin-bottom: 1em;
  text-indent: 1em;
  text-align: justify;
}
.dt-stats-table-container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.dt-stats-table {
  border: 1px solid #000000;
  border-collapse: collapse;
  table-layout: fixed;
  max-width: 500px;
  width: 100%;
}
.dt-stats-table th, td {
  border-right: 1px solid #000000;
  padding: 3px;
  text-align: center;
  width: 16.66%;
}