/* Text */
.dt-text  {
  text-indent: 1em;
}

/* Small icon */
.dt-small-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
}
.dt-small-icon {
  position: relative;
  height: 256px;
  cursor: pointer;
}
.dt-small-icon label {
  cursor: pointer;
  text-align: center;
}
.dt-small-icon > div {
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;

  background-color: #0000007c;
  color: #ffffff;
  
  height: 20%;
  width: 100%;
  bottom: 0px;

  transition: 0.5s;
}
.dt-small-icon:hover > div {
  height: 100%;
}

/* Character */
.dt-character-img {
  float: left; 
  margin: 0 10px 10px 0;
  width: 50%;
}
.dt-character-text {
  display: block;
  margin-bottom: 1em;
  text-indent: 1em;
  text-align: justify;
}

/* Stats */
.dt-stats-table {
  border: 1px solid #000000;
  border-collapse: collapse;
  table-layout: fixed;
}
.dt-stats-table th, td {
  border-right: 1px solid #000000;
  padding: 3px;
  text-align: center;
  width: 16.66%;
}